In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.express as px
import plotly.graph_objects as go 
import plotly.figure_factory as ff 
from plotly.colors import n_colors 
from plotly.subplots import make_subplots  
import seaborn as sns
sns.set()

In [5]:
df = pd.read_excel('D:/__studymaterial__/7-sem/Capston Project/Crimes_India/New_data/All India IPC & SLL Crimes 2001-2012new.xls')

In [6]:
df.head()

,CRIME,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Murder,36202,35290,32716,33608,32719,32481,32318,32766,32369,33335,34305,34434
1,Attempt to Commit Murder,31523,30380,25942,27890,28031,27230,27401,28598,29038,29421,31385,35138
2,C H Not amounting to Murder,3367,3624,4029,3935,3578,3535,3644,3863,3930,3782,3707,3620
3,Rape,16075,16373,15847,18233,18359,19348,20737,21467,21397,22172,24206,24923
4,Kidnapping & Abduction,22487,21850,19992,23327,22832,23991,27561,30261,33860,38440,44664,47592

In [11]:
df.columns

Index(['CRIME', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012'],
      dtype='object')

In [31]:
df['CRIME'].shape

(47,)

In [35]:
new_df = pd.pivot_table(df,values=['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012'],columns=['CRIME'])

In [32]:
new_df.columns.

Index(['Antiquities & Art Treasures Act', 'Arms Act, 1959', 'Arson',
       'Assault on women with intent to outrage her modesty',
       'Attempt to Commit Murder', 'Burglary', 'C H Not amounting to Murder',
       'Causing death by negligence', 'Cheating',
       'Commission of Sati (P) Act, 1987', 'Copyright Act, 1957',
       'Counterfeiting', 'Criminal Breach of Trust',
       'Cruelty by Husband or his Relatives', 'Dacoity', 'Dowry Deaths',
       'Dowry Prohibition Act, 1961', 'Essential Commodities Act, 1955',
       'Excise Act', 'Explosives Substances Act 1908', 'Forest Act, 1927',
       'Gambling Act', 'Hurt/Grevious Hurt', 'Immoral Traffic (P) Act, 1956',
       'Importation of girls from Foreign Country',
       'Indecent Rep. of Women (P) Act', 'Indian Passport Act',
       'Indian Railways Act, 1989', 'Insult to Modesty of Women',
       'Kidnapping & Abduction', 'Murder', 'NDPS ACT', 'Other IPC Crimes',
       'Other SLL Crimes', 'Preparation & Assembly for Dacoity',
       'Prohibition Act', 'Prohibition of Child Marriage Act',
       'Protection of Civil Rights Act', 'Rape',
       'Registration of Foreigners Act', 'Riots', 'Robbery',
       'SC/ST (Prev.of Attrocities) Act',
       'Terrorist and Disruptive Activities Act', 'Theft', 'Total IPC Crimes',
       'Total SLL Crimes'],
      dtype='object', name='CRIME')

In [33]:
crimes = ['Murder','Attempt to Commit Murder','C H Not amounting to Murder','Rape','Kidnapping & Abduction','Dacoity','Preparation & Assembly for Dacoity','Robbery','Burglary','Theft','Riots','Criminal Breach of Trust','Cheating','Counterfeiting','Arson','Hurt/Grevious Hurt','Dowry Deaths','Assault on women with intent to outrage her modesty','Insult to Modesty of Women','Cruelty by Husband or his Relatives','Importation of girls from Foreign Country','Causing death by negligence','Other IPC Crimes']

In [36]:
new_df2 = new_df[crimes]

In [37]:
new_df2

CRIME,Murder,Attempt to Commit Murder,C H Not amounting to Murder,Rape,Kidnapping & Abduction,Dacoity,Preparation & Assembly for Dacoity,Robbery,Burglary,Theft,...,Counterfeiting,Arson,Hurt/Grevious Hurt,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to Modesty of Women,Cruelty by Husband or his Relatives,Importation of girls from Foreign Country,Causing death by negligence,Other IPC Crimes
2001,36202,31523,3367,16075,22487,6154,1614,19901,101182,252803,...,1683,10534,271487,6851,34124,9746,49170,114,57182,701362
2002,35290,30380,3624,16373,21850,6101,1841,18764,96461,247462,...,1522,11820,265025,6822,33943,10155,49237,76,64044,730297
2003,32716,25942,4029,15847,19992,5303,2302,17512,92827,245237,...,2055,9365,261444,6208,32939,12325,50703,46,60672,700412
2004,33608,27890,3935,18233,23327,5311,2340,18458,92490,273045,...,1529,8637,276868,7026,34567,10001,58121,89,69423,741031
2005,32719,28031,3578,18359,22832,5141,2834,17673,90108,273111,...,2383,8451,270861,6787,34175,9984,58319,149,71698,741977
2006,32481,27230,3535,19348,23991,4747,3129,18456,91666,274354,...,2169,8480,264748,7618,36617,9966,63128,67,78513,779697
2007,32318,27401,3644,20737,27561,4579,3205,19136,91218,285043,...,2204,9024,273067,8093,38734,10950,75930,61,86790,829206
2008,32766,28598,3863,21467,30261,4530,3217,20522,93742,316761,...,2991,9249,284969,8172,40413,12214,81344,67,92186,856963
2009,32369,29038,3930,21397,33860,4586,2850,22409,92070,324195,...,2935,8736,279214,8383,38711,11009,89546,48,98532,865541
2010,33335,29421,3782,22172,38440,4358,2615,23393,90179,330312,...,2589,8508,289022,8391,40613,9961,94041,36,106343,924072
2011,34305,31385,3707,24206,44664,4285,2895,24700,92504,340800,...,2307,9064,302847,8618,42968,8570,99135,80,108890,966032
2012,34434,35138,3620,24923,47592,4314,3099,27343,92892,337407,...,2351,11836,332324,8233,45351,9173,106527,59,107591,966244