In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.express as px
import plotly.graph_objects as go 
import plotly.figure_factory as ff 
from plotly.colors import n_colors 
from plotly.subplots import make_subplots  
import seaborn as sns
sns.set()

In [2]:
df = pd.read_excel('D:/__studymaterial__/7-sem/Capston Project/Crimes_India/New_data/All India IPC & SLL Crimes 2001-2012new.xls')

In [10]:
df.tail()

,CRIME,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
42,"Commission of Sati (P) Act, 1987",0,0,0,0,1,0,0,1,0,0,0,0
43,SC/ST (Prev.of Attrocities) Act,14780,12570,9388,10066,9780,9813,10923,12347,11859,11456,12496,13887
44,"Forest Act, 1927",5548,4710,3707,3818,4168,4347,4682,5082,4802,6004,7448,6467
45,Other SLL Crimes,2601981,2767356,2818588,3313146,2385441,2431588,2918947,3008176,3662181,3651654,3089516,2800232
46,Total SLL Crimes,3575230,3746198,3778694,4196766,3203735,3224167,3743734,3844725,4553872,4525917,3927154,3654371

# Making A set of Certain 'CRIME' Values and Summing up the Crime from(2001-12)

#### *Crimes that will be the part of the new data set.*

In [17]:

crimes = ['Murder','Attempt to Commit Murder','Rape','Kidnapping & Abduction','Dacoity','Robbery','Burglary','Theft','Riots','Criminal Breach of Trust','Cheating','Counterfeiting','Arson','Hurt/Grevious Hurt','Dowry Deaths','Assault on women with intent to outrage her modesty','Insult to Modesty of Women','Cruelty by Husband or his Relatives','Importation of girls from Foreign Country','Causing death by negligence','Other IPC Crimes']

> ***Making a new DataFrame***

In [56]:
Total_crime = df

In [22]:
Total_crime['Total'] = df.iloc[:,1:12].sum(axis=1)

In [23]:
Total_crime.head()

,CRIME,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,Total
0,Murder,36202,35290,32716,33608,32719,32481,32318,32766,32369,33335,34305,34434,368109
1,Attempt to Commit Murder,31523,30380,25942,27890,28031,27230,27401,28598,29038,29421,31385,35138,316839
2,C H Not amounting to Murder,3367,3624,4029,3935,3578,3535,3644,3863,3930,3782,3707,3620,40994
3,Rape,16075,16373,15847,18233,18359,19348,20737,21467,21397,22172,24206,24923,214214
4,Kidnapping & Abduction,22487,21850,19992,23327,22832,23991,27561,30261,33860,38440,44664,47592,309265

In [25]:
Total_crime.drop(columns=['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008','2009', '2010', '2011', '2012'],axis=1,inplace=True)

In [36]:
Total_crime

                                                CRIME     Total
0                                              Murder    368109
1                            Attempt to Commit Murder    316839
2                         C H Not amounting to Murder     40994
3                                                Rape    214214
4                              Kidnapping & Abduction    309265
5                                             Dacoity     55095
6                  Preparation & Assembly for Dacoity     28842
7                                             Robbery    220924
8                                            Burglary   1024447
9                                               Theft   3163123
10                                              Riots    700294
11                           Criminal Breach of Trust    166120
12                                           Cheating    673394
13                                     Counterfeiting     24367
14                                              Arson    101868
15                                 Hurt/Grevious Hurt   3039552
16                                       Dowry Deaths     82969
17  Assault on women with intent to outrage her mo...    407804
18                         Insult to Modesty of Women    114881
19                Cruelty by Husband or his Relatives    768674
20          Importation of girls from Foreign Country       833
21                        Causing death by negligence    894273
22                                   Other IPC Crimes   8836590
23                                   Total IPC Crimes  21553471
24                                     Arms Act, 1959    791531
25                                           NDPS ACT    310880
26                                       Gambling Act   1871661
27                                         Excise Act   1637272
28                                    Prohibition Act   4363726
29                     Explosives Substances Act 1908     45791
30                      Immoral Traffic (P) Act, 1956     50738
31                          Indian Railways Act, 1989    183598
32                     Registration of Foreigners Act     17171
33                     Protection of Civil Rights Act      4597
34                                Indian Passport Act      9589
35                    Essential Commodities Act, 1955     73748
36            Terrorist and Disruptive Activities Act       270
37                    Antiquities & Art Treasures Act       585
38                        Dowry Prohibition Act, 1961     48651
39                  Prohibition of Child Marriage Act       953
40                     Indecent Rep. of Women (P) Act     14878
41                                Copyright Act, 1957     66183
42                   Commission of Sati (P) Act, 1987         2
43                    SC/ST (Prev.of Attrocities) Act    125478
44                                   Forest Act, 1927     54316
45                                   Other SLL Crimes  32648574
46                                   Total SLL Crimes  42320192

In [50]:
Total_crime.shape

(47, 2)

### ***DataFrame-"Total_crime" is updated with only particular list of crimes***

In [53]:
crimes = ['Murder','Attempt to Commit Murder','Rape','Kidnapping & Abduction','Dacoity','Robbery','Burglary','Theft','Riots','Criminal Breach of Trust','Cheating','Counterfeiting','Arson','Hurt/Grevious Hurt','Dowry Deaths','Assault on women with intent to outrage her modesty','Insult to Modesty of Women','Cruelty by Husband or his Relatives','Importation of girls from Foreign Country','Causing death by negligence','Other IPC Crimes']

for c in crimes:
    Total_crime=Total_crime[Total_crime['CRIME'] != c]
Total_crime.reset_index(inplace=True)
Total_crime.drop(columns=['index'],inplace=True)

In [54]:
Total_crime

                                      CRIME     Total
0               C H Not amounting to Murder     40994
1        Preparation & Assembly for Dacoity     28842
2                          Total IPC Crimes  21553471
3                            Arms Act, 1959    791531
4                                  NDPS ACT    310880
5                              Gambling Act   1871661
6                                Excise Act   1637272
7                           Prohibition Act   4363726
8            Explosives Substances Act 1908     45791
9             Immoral Traffic (P) Act, 1956     50738
10                Indian Railways Act, 1989    183598
11           Registration of Foreigners Act     17171
12           Protection of Civil Rights Act      4597
13                      Indian Passport Act      9589
14          Essential Commodities Act, 1955     73748
15  Terrorist and Disruptive Activities Act       270
16          Antiquities & Art Treasures Act       585
17              Dowry Prohibition Act, 1961     48651
18        Prohibition of Child Marriage Act       953
19           Indecent Rep. of Women (P) Act     14878
20                      Copyright Act, 1957     66183
21         Commission of Sati (P) Act, 1987         2
22          SC/ST (Prev.of Attrocities) Act    125478
23                         Forest Act, 1927     54316
24                         Other SLL Crimes  32648574
25                         Total SLL Crimes  42320192